:root {
  --muted: #8A8C9B;
  --primary_1: #2E66DC;
  --primary_2: #ABC2F1;
  --primary_3: #EEF3FC;
  --text-default: #252744;
  --background_1: #FFFFFF;
  --background_2: #F0F2F4;
  --background_3: #F8F9FA;
  --background_4: #D4D8DB;
  font-family: 'SF Pro Display', Inter, Roboto;
}

#root {
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  background-color: var(--background_2);
}

hr {
  border: 0;
  width: -webkit-fill-available;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div{
  user-select: none;
}

.muted {
  color: #8A8C9B;
}

.display1 {
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 3.45rem */
  letter-spacing: -0.04313rem;
  margin: 0;
}

.display2 {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 3.15rem */
  letter-spacing: -0.02625rem;
  margin: 0;
}

.display3 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 2.7rem */
  letter-spacing: -0.0225rem;
  margin: 0;
}

.heading1 {
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 3.88125rem */
  letter-spacing: -0.04313rem;
  margin: 0;
}

.heading2 {
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 3.54375rem */
  letter-spacing: -0.02625rem;
  margin: 0;
}

.heading3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 2.7rem */
  margin: 0;
}

.heading4 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 2.3625rem */
  margin: 0;
}

.heading5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 2.025rem */
  margin: 0;
}

.heading6 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 1.6875rem */
  margin: 0;
}

.heading7 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 1.35rem */
  letter-spacing: 0.005rem;
  margin: 0;
}

.heading8 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 1.18125rem */
  letter-spacing: 0.00875rem;
  margin: 0;
}

.body1 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.6875rem */
  margin: 0;
}

.body2 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.005rem;
  margin: 0;
}

.body3 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  margin: 0;
}

.body4 {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.21875rem */
  letter-spacing: 0.00406rem;
  margin: 0;
}

.body5 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
  letter-spacing: 0.015rem;
  margin: 0;
}

.label1 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
  letter-spacing: 0.00875rem;
  margin: 0;
}

.label2 {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.1375rem */
  letter-spacing: 0.01625rem;
  margin: 0;
}

.label3 {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.05rem */
  letter-spacing: 0.01875rem;
  margin: 0;
}

.label4 {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 0.875rem */
  letter-spacing: 0.01875rem;
  margin: 0;
}

.muted {
  color: var(--muted) !important;
}

.primary {
  color: var(--primary_1);
}

/* width */
::-webkit-scrollbar {
  width: .4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background_1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--primary_1); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary_1)
}

.dropzone::after {
    content: "";
    display: flex;
    flex: 1;
    background-color: red;
    min-height: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: var(--primary_3);
    border: dashed 0.125rem var(--primary_1)
  }